
@import "../../../styles/_mixins";

.cart {
    width: 100%;
    table-layout: fixed;

    &__row {
        border: 1px solid #DDD;
    }

    &__head, &__data {
        text-align: left; 
        padding: 0.25em;
        overflow-wrap: break-word;
    }

    &__link {
        cursor: pointer;
        display: block;
        text-align: center;

        &:hover {
            background-color: papayawhip;
            text-align: center;
        }
    }

    &__total-label {
        text-align: right;
        padding-right: 8px;
        font-size: 24px;
        &--center {
            text-align: center;
        }
    }

    &__total-value {
        font-size: 24px;
    }

    &__link-img {
        width: 24px;
    }
}