.product {
    
    background-color: whitesmoke;
    padding: 12px;
    border-radius: 3px;
    border: solid 1px;

    &__heading {
        text-align: center;
    }

    &__row {
        display: flex;
        padding: .5em;
    }

    &__select {
        height: 32px;
        flex: 2;
    }

    &__label {
        padding: .5em 1em .5em 0;
        flex: 1;
    }

    &__val {
        padding: .5em;
        flex: 2;
    }
}